<!-- <p>about works!</p> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Educational Blog</a>
    <!-- <button mat-button routerLink="/" routerLinkActive="active">Home</button>   -->
       <button mat-button  routerLink="/about"  routerLinkActive="active current">About</button>
       <button mat-button   routerLink="/upload-content" routerLinkActive="active current">upload-content</button>
       <button mat-button   routerLink="/quiz" routerLinkActive="active current">feedback</button>
       <button mat-button   routerLink="/home" routerLinkActive="active current">home</button>
      
    </nav>
<body>
  
<div class="background" >
      
<h1>"About us"</h1>

<div class="skill-row">
  <img class="html-img" src="../../assets/images/Harman fb.jpg" alt="Harman-img" width="150" height="150">
  <!-- <h3>Harmandeep Singh</h3> -->
  <p> developed By <br>
      Harmandeep Singh <br>
      Developer <br>
      Gulzar Group of Institutes <br>
      B.tech (CSE) <br>
    </p>
</div>
<!--  
<div class="bottom-container">
    <a class="footer-link" href="https://www.instagram.com/harman_deep_singh/" >Instagram</a>
    <a class="footer-link" href="https://www.facebook.com/harmandeep8054">Facebook</a>
    <a class="footer-link" href="https://www.linkedin.com/in/harmandeep-singh-447a1819a?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B7b2tNc2hRSWB5pOLZmqjOQ%3D%3D">Linkedin</a>
    <p class="copyright">© 2020 Harmandeep Singh.</p>
  </div> -->
</div>
</body>