
<!-- <mat-toolbar  class="navbar navbar-dark bg-light" >   -->
  <!-- <nav class="navbar navbar">  -->
    <!-- <a  href="#">Mentor's Blog</a>  -->
    <!-- </nav> -->
    <!-- <button mat-button routerLink="/" routerLinkActive="active">Home</button>  -->
    <!-- <button mat-button routerLink="/about"  routerLinkActive="active">About</button>  -->
    <!-- <button mat-button routerLink="/login" routerLinkActive="active">Login</button>  -->
    <!-- <button mat-button routerLink="/register" routerLinkActive="active">Register</button>   -->
    <!-- <button mat-button routerLink="/upload-content" routerLinkActive="active">upload-content</button>   -->
     <!-- <a *ngIf="currentUser" class="nav-item nav-link" style="cursor:pointer" (click)="logout()">Logout</a>  -->
    <!-- <button mat-button routerLink="/like" routerLinkActive="active">Like</button>   -->
  <!-- </nav> -->
    
    
<router-outlet></router-outlet> 
<!-- As a link -->
